/////  Sizes  ///// 

$MobileWidth: 375px;
$TabWidth: 900px;
$DesctopWidth: 1110px;

/////  Font  /////

$MyFontFamily: "Open Sans",
sans-serif;
$DefaultFS: 14px;
$DesctopFS: 16px;
$NumbFS: 30px;
$DesctopNumbFS: 36px;
$DesctopTitleFS: 24px;
$HintFS: 10px;
$BtnFS: 18px;
$TimeFS: 12px;

/////  Colors  /////

$DefaultColor: #000000;
$BtnHoverTextColor: #FFFFFF;
$BtnColor: #FED74B;
$BtnHoverColor: #e7bc00;
$TimeTableColor: #D9E8FF;
$TimeTableHoverColor: #6BA6FF;
$TimeTableTextColor: #343434;
$TimeTextColor: #9e9e9e;
$BorderColor: #828282;