@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "../utils/variables.scss";

// @import "../blocks/container.scss";

* {
    font-family: $MyFontFamily;
    font-size: $DefaultFS;
    line-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    min-width: $MobileWidth;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &>svg {
            width: 20px;
            height: 20px;

            & path {
                fill: $TimeTextColor;
            }
        }
    }

    &.visible {
        display: flex;
    }

    &__background {
        width: 100%;
        height: 100%;
        background: rgba($DefaultColor, 0.6);

    }

    &__container {
        width: 90%;
        max-height: 90%;
        max-width: 500px;
        position: absolute;
        background: $BtnHoverTextColor;
        z-index: 20;
        overflow-y: auto;
        border-radius: 16px;
    }

    &__content {
        width: 100%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 16px;
    }

    &__title {
        font-size: 18px;
        text-align: center;

        @media (min-width: $TabWidth) {
            font-size: 24px;
        }
    }


}

.form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;

        @media (min-width: $TabWidth) {
            min-width: 450px;
        }
    }

    &__item-title {
        font-weight: 600;

        @media (min-width: $TabWidth) {
            font-size: 16px;
        }
    }

    &__item-label {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px;

        @media (min-width: $TabWidth) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__total-sum-btn {
        padding: 14px 44px;
        display: block;
        background: $BtnColor;
        border: 1px solid $BtnColor;
        border-radius: 20px;
        cursor: pointer;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $DefaultColor;

        &:hover {
            background: $BtnHoverColor;
            border: 1px solid $BtnHoverColor;
            box-shadow: 0px 2px 4px rgba($DefaultColor, 0.25);
        }

        @media (min-width: $TabWidth) {
            font-size: $BtnFS;
            padding: 16px 44px;
            max-width: 250px;
        }
    }

    &__submit {
        padding: 14px 44px;
        display: block;
        background: $BtnColor;
        border: 1px solid $BtnColor;
        border-radius: 20px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $DefaultColor;
        width: 100%;

        &:hover {
            background: $BtnHoverColor;
            border: 1px solid $BtnHoverColor;
            box-shadow: 0px 2px 4px rgba($DefaultColor, 0.25);
        }

        @media (min-width: $TabWidth) {
            font-size: $BtnFS;
            padding: 16px 44px;
            max-width: 250px;
        }
    }

    &__checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__check-text {
        margin-left: 10px;
        color: $TimeTextColor;
        cursor: pointer;
    }

    &__kids-checkbox {
        cursor: pointer;
    }

    &__numb-price {
        font-size: 16px;

        @media (min-width: $TabWidth) {
            font-size: 20px;
        }
    }

    &__price {
        font-size: 16px;

        @media (min-width: $TabWidth) {
            font-size: 20px;
        }
    }

    &__select,
    &__input-email {
        width: 100%;
        outline: none;
        padding: 10px;
        font-size: 14px;
        border: 1px solid $BorderColor;
        border-radius: 8px;

        @media (min-width: $TabWidth) {
            font-size: 12px;

            &>option {
                font-size: 12px;
            }
        }
    }

    &__input {
        width: 100%;
        outline: none;
        padding: 10px;
        border: 1px solid $BorderColor;
        border-radius: 8px;

        @media (min-width: $TabWidth) {
            width: 50%;
        }
    }

    &__total-contnainer {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border: 1px solid $BorderColor;
        border-radius: 6px;
    }

    &__total-item {
        font-weight: 600;

        @media (min-width: $TabWidth) {
            font-size: 16px;
        }
    }
}

.container {
    width: 100%;
    padding: 25px 16px;

    @media (min-width: $TabWidth) {
        padding: 50px 16px;
    }

    @media (min-width: $DesctopWidth) {
        max-width: 1102px;
    }

    &__link {
        text-decoration: none;
        color: $TimeTableTextColor;

        &:hover {
            text-decoration: underline;
            color: $TimeTableHoverColor;
        }
    }
}

.tour {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;

    &__titleBlock {
        width: 100%;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;

        @media (min-width: $TabWidth) {
            font-size: 24px;
        }
    }

    &__img-block {
        width: 100%;
        height: 300px;

        @media (min-width: $TabWidth) {
            height: 500px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__time-block {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__time-icon-block {
        width: 20px;

        &>img {
            width: 100%;
        }

        @media (min-width: $TabWidth) {
            width: 25px;
        }
    }

    &__time-text {
        font-size: 16px;
        color: $TimeTextColor;

        @media (min-width: $TabWidth) {
            font-size: 18px;
        }
    }

    &__time-desc {
        color: $TimeTableTextColor;
        font-weight: 600;

        @media (min-width: $TabWidth) {
            font-size: 16px;
        }
    }

    &__time-duration {
        color: $TimeTextColor;

        @media (min-width: $TabWidth) {
            font-size: 16px;
        }
    }

    &__desc-title {
        font-size: 16px;

        @media (min-width: $TabWidth) {
            font-size: 20px;
        }
    }

    &__desc {
        margin-top: 20px;
    }



    &__btn {
        padding: 14px 44px;
        display: block;
        background: $BtnColor;
        border: 1px solid $BtnColor;
        border-radius: 20px;
        cursor: pointer;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $DefaultColor;

        &:hover {
            background: $BtnHoverColor;
            border: 1px solid $BtnHoverColor;
            box-shadow: 0px 2px 4px rgba($DefaultColor, 0.25);
        }

        @media (min-width: $TabWidth) {
            font-size: $BtnFS;
            padding: 16px 44px;
            max-width: 250px;
        }
    }
}

.timetable {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__title {
        font-size: 16px;

        @media (min-width: $TabWidth) {
            font-size: 20px;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        gap: 6px;
        flex-wrap: wrap;

        @media (min-width: $TabWidth) {
            gap: 5px;
        }
    }

    &__date-text {
        font-size: 16px;
        font-weight: 600;
    }

    &__item {
        padding: 4px 14px;
        border-radius: 11px;
        background: $TimeTableColor;
        color: $TimeTableTextColor;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        border: none;

        &:hover {
            background: $TimeTableHoverColor;
            box-shadow: 0px 2px 4px rgba($DefaultColor, 0.25);
            color: $BtnHoverTextColor;
        }

        @media (min-width: $TabWidth) {
            font-size: $DesctopFS;
            padding: 6px 16px;
            border-radius: 12px;
        }
    }
}