.tour {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;

    &__titleBlock {
        width: 100%;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;

        @media (min-width: $TabWidth) {
            font-size: 24px;
        }
    }

    &__img-block {
        width: 100%;
        height: 300px;

        @media (min-width: $TabWidth) {
            height: 500px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__time-block {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__time-icon-block {
        width: 20px;

        &>img {
            width: 100%;
        }

        @media (min-width: $TabWidth) {
            width: 25px;
        }
    }

    &__time-text {
        font-size: 16px;
        color: $TimeTextColor;

        @media (min-width: $TabWidth) {
            font-size: 18px;
        }
    }

    &__time-desc {
        color: $TimeTableTextColor;
        font-weight: 600;

        @media (min-width: $TabWidth) {
            font-size: 16px;
        }
    }

    &__time-duration {
        color: $TimeTextColor;

        @media (min-width: $TabWidth) {
            font-size: 16px;
        }
    }

    &__desc-title {
        font-size: 16px;

        @media (min-width: $TabWidth) {
            font-size: 20px;
        }
    }

    &__desc {
        margin-top: 20px;
    }

    &__btn {
        padding: 14px 44px;
        display: block;
        background: $BtnColor;
        border: 1px solid $BtnColor;
        border-radius: 20px;
        cursor: pointer;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $DefaultColor;

        &:hover {
            background: $BtnHoverColor;
            border: 1px solid $BtnHoverColor;
            box-shadow: 0px 2px 4px rgba($DefaultColor, 0.25);
        }

        @media (min-width: $TabWidth) {
            font-size: $BtnFS;
            padding: 16px 44px;
            max-width: 250px;
        }
    }
}