@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    min-width: 375px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    padding: 25px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;
    overflow: hidden;

    @media (min-width: 900px) {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        padding: 50px 16px;
    }

    @media (min-width: 1110px) {
        max-width: 1102px;
    }
}

.card {
    width: 100%;
    border: 1px solid #828282;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
        flex-direction: row;
        border-radius: 20px;
    }

    &__img {
        width: 100%;
        border-radius: 16px 16px 0 0;
        overflow: hidden;

        @media (min-width: 900px) {
            width: 83%;
            height: 100%;
            border-radius: 20px 0 0 20px;
        }

        & img {
            width: 100%;
            object-fit: cover;

            @media (min-width: 900px) {
                height: 100%;
            }
        }
    }

    &__img-adv {
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px 37px;
        border-radius: 16px 0 16px 0;
        background: #FED74B;
        cursor: pointer;

        @media (min-width: 900px) {
            border-radius: 20px 0 20px 0;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.content {
    padding: 14px 11px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    row-gap: 35px;

    @media (min-width: 900px) {
        padding: 16px 23px 25px;
        row-gap: 24px;
    }

    &__title-block {
        display: flex;
        flex-direction: column;

        @media (min-width: 900px) {
            flex-direction: column-reverse;
            gap: 13px;
        }
    }

    &__time {
        display: flex;
        align-items: center;
        column-gap: 9px;

        &>svg {
            width: 16px;
            height: 16px;
        }
    }

    &__time-text {
        color: #9e9e9e;
        font-size: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top: 18px;

        @media (min-width: 900px) {
            row-gap: 17px;
            margin-top: 14px;
        }
    }

    &__item {
        display: flex;
        align-items: baseline;
        column-gap: 20px;

        @media (min-width: 900px) {
            column-gap: 14px;
        }
    }

    &__arr-icon {
        min-width: 16px;

        &>svg {
            width: 100%;
        }
    }

    &__item-text {
        line-height: 20px;

        @media (min-width: 900px) {
            font-size: 18px;
        }
    }

    &__item-text-timetable {
        line-height: 20px;
        white-space: nowrap;

        @media (min-width: 900px) {
            font-size: 18px;
        }

        &>span {
            line-height: 20px;
            white-space: nowrap;

            @media (min-width: 900px) {
                font-size: 18px;
            }
        }
    }

    &__title {
        margin-top: 13px;
        text-decoration: none;

        &>h2 {
            line-height: 22px;
            font-weight: 600;
            color: #000000;
        }

        &:hover {

            &>h2 {
                text-decoration: underline;
                color: #6BA6FF;
            }
        }

        @media (min-width: 900px) {
            margin-top: 0;

            &>h2 {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }

    &__item-timetable {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (min-width: 900px) {
            flex-direction: row;
            gap: 8px;
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 7px;
        column-gap: 13px;

        @media (min-width: 900px) {
            font-size: 14px;
            justify-content: flex-start;
            padding: 0 0;
            column-gap: 13px;
        }
    }

    &__control-desc {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        max-width: 240px;

        @media (min-width: 900px) {
            row-gap: 7px;
        }
    }

    &__sum {
        display: flex;
        align-items: center;
        column-gap: 6px;

        &>svg {
            width: 15px;

            @media (min-width: 900px) {
                width: 20px;
            }
        }

        &>img {
            width: 15px;
            height: 20px;

            @media (min-width: 900px) {
                width: 19px;
                height: 30px;
            }
        }
    }

    &__sum-numb {
        font-size: 30px;
        line-height: 20px;

        @media (min-width: 900px) {
            font-size: 36px;
        }
    }

    &__sum-hint {
        font-size: 10px;

        @media (min-width: 900px) {
            font-size: 14px;
        }
    }

    &__btn {
        padding: 14px 44px;
        display: block;
        background: #FED74B;
        border: 0.5px solid #FED74B;
        border-radius: 20px;
        cursor: pointer;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        color: #000000;

        &:hover {
            background: #e7bc00;
            border: 0.5px solid #e7bc00;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        @media (min-width: 900px) {
            font-size: 18px;
            padding: 16px 44px;
            max-width: 250px;
        }
    }
}

.timetable {

    &__list {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
        overflow: hidden;

        @media (min-width: 900px) {
            gap: 6px;
        }
    }

    &__item {
        padding: 4px 14px;
        border-radius: 11px;
        background: #D9E8FF;
        color: #343434;
        cursor: pointer;
        text-decoration: none;
        position: relative;

        &:hover {
            background: #6BA6FF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
        }

        @media (min-width: 900px) {
            font-size: 16px;
            padding: 6px 16px;
            border-radius: 12px;
        }
    }

    &__btn {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 11px;
        background: #D9E8FF;
        color: #343434;
        cursor: pointer;
        text-decoration: none;
        border: none;
        z-index: 10;

        &:hover {
            background: #6BA6FF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
        }

        @media (min-width: 900px) {
            font-size: 16px;
            padding: 6px 16px;
            border-radius: 12px;
        }
    }
}